body {
    background-color: rgb(37, 37, 37);
    font-family: sans-serif;
}

.navbar-nav li { 
    display: inline-block;
	margin:0 1.5em;
}

.nav.navbar-nav li a {
    color: #fff !important;
    font-size: 1.2em;
    padding: 0;
    position: relative; 
    transition: 0.5s all;
    text-decoration: none;
	font-weight: 300;
}

.navbar-nav li a.active:after {
    backface-visibility: hidden;
    border-color: #0fdfe2;
    transition: width 350ms ease-in-out;
    width: 100%;
}

.nav-link-hover:after {
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: -3px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}

.nav-link-hover:hover:after {
    backface-visibility: hidden;
    border-color: #0fdfe2;
    transition: width 350ms ease-in-out;
    width: 100%;
}

.nav.navbar-nav li a:hover {
    color: #0fdfe2 !important;
    outline: none;
}

.nav.navbar-nav li  a.active {
    color: #0fdfe2 !important;
	outline: none;
} 
